@import "~office-ui-fabric-react/dist/sass/References.scss";

.productLinkClass {
    text-decoration: underline;
    cursor: pointer;
    color: green;
}

.dropdownDetailsClass {
    margin-top: 10 ;
    transition: height 0.3s ease;
    overflow: 'hidden' ;
    height: 0 ;
}
